<div class="overlay" (click)="toggleNavBar()" [class.opened]="isOpened()" aria-hidden="true"></div>

<nav>
  <div class="nav-left">
    <button class="menu-btn" (click)="toggleNavBar()" type="button">
      <img src="assets/images/shared/icon-menu.svg" alt="Toggle menu" />
    </button>

    <a routerLink="/" class="logo">
      <img src="assets/images/shared/logo.svg" alt="Logo" />
    </a>

    <div class="links" [class.opened]="isOpened()">
      <button type="button" (click)="toggleNavBar()" class="close-menu-btn">
        <img src="assets/images/shared/icon-close.svg" alt="Close menu" />
      </button>

      <ul class="links-list">
        @for (link of links; track $index) {
          <li>
            <a [routerLink]="link" class="link">
              {{ link | titlecase }}
            </a>
          </li>
        }
      </ul>
    </div>
  </div>

  <div class="account">
    <button type="button" class="cart">
      <img src="assets/images/shared/icon-cart.svg" alt="See cart" />
    </button>

    <a class="profile" href="#">
      <img src="assets/images/shared/image-avatar.png" alt="Profile" />
    </a>
  </div>
</nav>
