<nav>
  <div class="nav-left">
    <button class="menu-btn" type="button">
      <img src="assets/images/shared/icon-menu.svg" alt="Toggle menu" />
    </button>

    <img src="assets/images/shared/logo.svg" alt="Logo" />
  </div>

  <div class="account">
    <button type="button" class="cart">
      <img src="assets/images/shared/icon-cart.svg" alt="See cart" />
    </button>

    <a class="profile" href="#">
      <img src="assets/images/shared/image-avatar.png" alt="Profile" />
    </a>
  </div>
</nav>
