:host {
  display: grid;
  min-height: 100vh;
  min-height: 100dvh;
  grid-template-rows: auto 1fr;
  justify-content: center;
  align-items: start;

  @media (min-width: 1440px) {
    align-items: center;
  }
}

main,
header {
  max-width: 80rem;

  @media (min-width: 1440px) {
    max-width: 160rem;
    width: 100%;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;

  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr;
    gap: 12.5rem;
    align-items: center;

    padding-inline: 2.4rem;

    height: 100%;
  }
}

.cart-overlay {
  position: fixed;
  inset: 0;
  z-index: 98;
  background-color: transparent;
}
