<span class="company-name">{{ product().companyName }}</span>

<h1>{{ product().name | titlecase }}</h1>

<p class="description">
  {{ product().description }}
</p>

<div class="price-wrapper">
  <div class="current-price-row">
    <span class="current-price">
      {{ product().price * (1 - product().discount) | currency }}
    </span>

    @if (product().discount) {
      <span class="discount-badge">
        {{ product().discount | percent }}
      </span>
    }
  </div>

  @if (product().discount) {
    <span class="original-price">
      {{ product().price | currency }}
    </span>
  }
</div>

<div class="add-to-cart-wrapper">
  <div class="quantity-selector">
    <button
      type="button"
      (click)="minusQuantity()"
      [disabled]="selected_quantity() <= 0"
      class="quantity-btn minus"
      aria-label="Decrease quantity"
    >
      <img src="assets/images/shared/icon-minus.svg" alt="Minus icon" />
    </button>

    <span class="quantity"> {{ selected_quantity() }} </span>

    <button
      type="button"
      (click)="plusQuantity()"
      [disabled]="selected_quantity() === product().inStock"
      class="quantity-btn plus"
      aria-label="Increase quantity"
    >
      <img src="assets/images/shared/icon-plus.svg" alt="Plus icon" />
    </button>
  </div>

  <button
    type="button"
    (click)="addProduct()"
    class="add-to-cart-btn"
    [disabled]="!selected_quantity()"
  >
    <img src="assets/images/shared/icon-cart.svg" alt="Add to cart" />
    Add to cart
  </button>
</div>
